@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende sobre como <a href="https://learn.microsoft.com/aspnet/core">construir aplicaciones Web con ASP.NET Core</a>. con Geovani de León</p>

    Hola mundo
</div>
